@page "/aeronave"

<h4>Cadastro de Aeronave</h4>

<div class="mb-3">
  <label for="modelo" class="form-label">modelo informado</label>
  <input type="email" class="form-control" id="modelo" >
</div>
<div class="mb-3">
  <label for="fabricante" class="form-label">fabricante informado</label>
   <input type="email" class="form-control" id="fabricante" >
</div>
<div class="mb-3">
  <label for="codigo" class="form-label">codigo</label>
  <input type="email" class="form-control" id="codigo" >
</div>
<button type="button" class="btn btn-primary">Cadastrar</button>
<h6>===================================================================================================================  </h6>

<TabelaAeronave/>